@tailwind base;
@tailwind components;
@tailwind utilities;
/* nav {
  background-color: #00e3d8;
  overflow: hidden;
} */

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav button {
  display: none;
  /* Add more styling for your button here */

}

/* Style adjustments for smaller screens */
@media (max-width: 800px) {
  nav a {
    display: none;
  }

  nav button {
    display: block;
  }

  /* If the menu is open, we'll display the links */
  .isOpen a {
    display: inline-block;
  }
}
.some{
    color: black;
    
}
